footer.footer
    .footer__icon justcode
    .row-1
                .col-1-of-2
                    .footer__navigation
                        ul.footer__list
                            li.footer__item
                                a.footer__link(href="#") about us
                            li.footer__item
                                a.footer__link(href="#") contact
                            li.footer__item
                                a.footer__link(href="#") privacy policy
                            li.footer__item
                                a.footer__link(href="#") terms
                .col-1-of-2
                    p.footer__copyright
                        copyright &copy; this website is created by bhanu singh as a forum where students can share their knowledge