

.set
        .navigation
        input.navigation__checkbox(type="checkbox" id="check")
        label.navigation__button(for="check")
            span.navigation__icon 
        .navigation__bground
        .navigation__nav
            ul.navigation__list
                li.navigation__item
                    a.navigation__link(href="/api/v1/home")
                        span home
                li.navigation__item
                    a.navigation__link(href="/api/v1/updateuser")
                        span view profile
                li.navigation__item 
                    a.navigation__link(href="/api/v1/login")
                        span login
                li.navigation__item
                    a.navigation__link(href="/api/v1/updateuser")
                        span update profile
                li.navigation__item
                    a.navigation__link(href="/api/v1/alluser")
                        span all users
                li.navigation__item
                    a.navigation__link(href="/api/v1/users/logout")
                        span logout
        header.header
                .head__title-logo logo
                .head__title
        .head__title-text
                span.head__title-text-1 welcome to 
                        br
                span.head__title-text-2 justcode
                        br
                span.head__title-text-3 -lets code somthing brilliant
        
                