extends base

block content
    .blogs
        .head1
            h2.heading-secondary top articles
    .ourstory
        .row
            .col-1-of-2
                h2.heading-secondary our story
                p.para our team develope this website as a minor project through which the students of our college get a forum where they can access various services like they view various articles published on new tech get in touch with our seniors and attempt various tests.
            .col-1-of-2
                h2.heading-secondary
                .composition
                    img(src="http://localhost:3000/images/pic.jpg" class="composition__photo composition__photo-p3")
                    img(src="http://localhost:3000/images/pic.jpg" class="composition__photo composition__photo-p2")
                    img(src="http://localhost:3000/images/pic.jpg" class="composition__photo composition__photo-p1")